{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Bonjour {{ user_name }} !</h1>

    <p>L'objectif de ce projet est d'envoyer des mails directement via l'application à des entreprises.</p>

    <h2>Fonctionnalités</h2>
    <ul>
        <li>L'utilisateur peut accéder à une liste d'entreprises</li>
        <li>Il existe une page pour chaque entreprise avec ses informations</li>
        <li>Il figure également sur cette page la liste des employés</li>
        <li>L'utilisateur a la possibilté d'envoyer un mail à l'employé de son choix</li>
        <li>Pour cela, il peut rédiger le contenu du mail sur une page dédiée</li>
    </ul>
    <h2>TODO</h2>
    <ul>
        <li>Système de connexion / inscription</li>
        <li>Ajouter / modifier / supprimer des entreprises</li>
        <li>Ajouter / modifier / supprimer des employés</li>
        <li>Historique des mails envoyés par utilisateur</li>
    </ul>
{% endblock %}
